@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Cairo", sans-serif !important;
}

:root {
  --bg-color: #131722;
  --border-color: #ffffff3d;
}

body {
  background-color: #131722 !important;
  color: aliceblue !important;
}

.navbar-brand {
  letter-spacing: 5px !important;
}

.number-cart {
  width: 16px !important;
  height: 16px !important;
  border-radius: 2px;
  font-size: 12px;
}

.card {
  border-color: var(--border-color) !important;
}

tr,
th,
td {
  vertical-align: middle !important;
}

.btns {
  color: #fff !important;
  font-weight: bold;
  width: 25px !important;
  height: 25px !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
}
